body {
    color: red;
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
}

.black-border {
    border: 5px solid black;
}

.welkom {
    color:cornflowerblue;
}

#green-background {
    background-color: green;
    color: blue;
}